In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
# Criar a Tabela onde serão colocadas os resultados do PC
col = []
for n in range(1,10):
     col.append(n)
col.append('resultado')

In [3]:
df = pd.DataFrame(
    columns=col
)

In [4]:
df

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, resultado]
Index: []

In [5]:
# Regra do Jogo
"""

PLAYER = 1 (X)
MAQUINA = 0 (O)

Result
V = 1
E = 0.5
D = 0

""";

In [6]:
"""
# condição de vitória

123 = 0 ou 1
159 = ...
147
256
369
357
789
456

Se 9 turnos passarem e não tiver vitorioso, então é EMPATE
""";

In [7]:
def verificar_derrota(pos):
    if pos[1] == pos[2] == pos[3] == 1:
        return 0
    if pos[4] == pos[5] == pos[6] == 1:
        return 0
    if pos[1] == pos[4] == pos[7] == 1:
        return 0
    if pos[1] == pos[5] == pos[9] == 1:
        return 0
    if pos[2] == pos[5] == pos[6] == 1:
        return 0
    if pos[3] == pos[5] == pos[7] == 1:
        return 0
    if pos[3] == pos[6] == pos[9] == 1:
        return 0
    if pos[7] == pos[8] == pos[9] == 1:
        return 0
    return 'nada'

In [8]:
def verificar_vitoria(pos):
    if pos[1] == pos[2] == pos[3] == 0:
        return 1
    if pos[4] == pos[5] == pos[6] == 0:
        return 1
    if pos[1] == pos[4] == pos[7] == 0:
        return 1
    if pos[1] == pos[5] == pos[9] == 0:
        return 1
    if pos[2] == pos[5] == pos[6] == 0:
        return 1
    if pos[3] == pos[5] == pos[7] == 0:
        return 1
    if pos[3] == pos[6] == pos[9] == 0:
        return 1
    if pos[7] == pos[8] == pos[9] == 0:
        return 1
    return 'nada'

In [9]:
# Sortear posição não utilizada
"""
livres =[]
for n in list(pos.keys())[:-1]:
    print(n)
    if list(pos.values())[n-1] == 0.5:
        livres.append(n)
livres


# ou

livres =[n for n in list(pos.keys())[:-1] if list(pos.values())[n-1]== 0.5]

livres
""";

In [10]:
pos = {
    1:0.5,
    2:0.5,
    3:0.5,
    4:0.5,
    5:0.5,
    6:0.5,
    7:0.5,
    8:0.5,
    9:0.5,
    'resultado':None
}

In [11]:
"""
def sortear_pos(a,b):
    return random.randint(a,b)
"""

def sortear_pos(pos): # Ganhar tempo
    livres =[n for n in list(pos.keys())[:-1] if list(pos.values())[n-1]== 0.5]
    
    return random.sample(livres,1)[0] # sortear 1 número dentro dos LIVRES

sortear_pos(pos)

9

In [12]:
def verificar_tudo(pos):
    if pos[1] != 0.5 and pos[2] != 0.5 and pos[3] != 0.5 and pos[4] != 0.5 and pos[5] != 0.5 and pos[6] != 0.5 and pos[7] != 0.5 and pos[8] != 0.5 and pos[9] != 0.5:
        return 'break'
    
    return None

In [13]:
def verificar_turno(t):
    if t == 9: # Verificar tempo (f)
        return 'break'
    return None

In [23]:
pos = {
    1:0.5,
    2:0.5,
    3:0.5,
    4:0.5,
    5:0.5,
    6:0.5,
    7:0.5,
    8:0.5,
    9:0.5,
    'resultado':None
}


t = 0
while True:
    
    # Jogar Player    
    pl = int(input('player:')) # Criar função com Try e Excepet Value erro
    
    
    
    if pos[pl] == 0.5:
        pos[pl] = 1
    
    else:
        while True:
            pl = int(input('player, tente outro numero:'))
            if pos[pl] == 0.5:
                pos[pl] = 1  
                break
    
        
    #-----------------------------------
    # Verificar derrota
    if verificar_derrota(pos) == 0:
        print('derrotado')
        pos['resultado'] = 0
        break
    # Verificar Vitoria
    if verificar_vitoria(pos) == 1:
        print('vencedor')
        pos['resultado'] = 1
        break
    # Verificar Turno
    t +=1
    if verificar_turno(t) == 'break':
        print('turno')
        pos['resultado'] = 0.5 # Empate
        break
    # Verificar Tudo
    if verificar_tudo(pos) == 'break':
        print('tudo')
        pos['resultado'] = 0.5 # Empate
        break 

    
    # Jogar PC    
    pc = int(input('pc: ')) # Criar função com Try e Excepet Value erro

    if pos[pc] == 0.5:
        pos[pc] = 0
        
    else:
        while True:
            pc = int(input('pc, tente outro numero:'))
            if pos[pc] == 0.5:
                pos[pc] = 0 
                break

    
    #-----------------------------------
    # Verificar derrota
    if verificar_derrota(pos) == 0:
        print('derrotado')
        pos['resultado'] = 0
        break
    # Verificar vitoria
    if verificar_vitoria(pos) == 1:
        print('vencedor')
        pos['resultado'] = 1
        break
    # Verificar Turno
    t +=1
    if verificar_turno(t) == 'break':
        print('turno')
        pos['resultado'] = 0.5 # Empate
        break 
    # Verificar Tudo
    if verificar_tudo(pos) == 'break':
        print('tudo')
        pos['resultado'] = 0.5 # Empate
        break

print(pos)

player:1
pc: 2
player:2
player, tente outro numero:2
player, tente outro numero:2
player, tente outro numero:2
player, tente outro numero:3
pc: 2
pc, tente outro numero:1
pc, tente outro numero:1
pc, tente outro numero:2
pc, tente outro numero:3
pc, tente outro numero:4
player:3
player, tente outro numero:2
player, tente outro numero:1
player, tente outro numero:5
pc: 6
player:7
derrotado
{1: 1, 2: 0, 3: 1, 4: 0, 5: 1, 6: 0, 7: 1, 8: 0.5, 9: 0.5, 'resultado': 0}

## Adicionar os Resultados no DF

In [15]:
# Adicionar resultados em um vetor df1
df1 = pd.DataFrame( columns=list(pos.keys()) )

for i in df1.columns:
    if i == 'resultado':
        df1[i] = [pos[i]]
    else:    
        df1[i] = [pos[int(i)]]

In [16]:
# Tabela com novo resultado
df1

   1  2  3  4  5  6  7    8    9  resultado
0  1  0  1  0  1  0  1  0.5  0.5          0

In [17]:
# Tabela acumulativa, que eu vou armazenar os dados
df

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, resultado]
Index: []

In [18]:
# Verificar se as colunas são as mesmas
df.columns, df1.columns

(Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 'resultado'], dtype='object'),
 Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 'resultado'], dtype='object'))

In [19]:
# Adicionar as linhas 
#(dica: tem que ter o msm nome na coluna... cuidado Int x Str)
df = df.append(df1,ignore_index=True)

df

   1  2  3  4  5  6  7    8    9 resultado
0  1  0  1  0  1  0  1  0.5  0.5         0

## Testes de Sorteio

In [20]:
for x in range(0,9):
    print(random.randint(0,9))

7
6
4
3
0
4
4
7
1

In [22]:
samples = random.sample([0,10,2,3,5,6,7,8],1)
samples[0]

6