In [1]:
import pandas as pd
import numpy as np

In [2]:
col = []
for n in range(1,10):
     col.append(str(n))
col.append('resultado')

In [3]:
df = pd.DataFrame(
    columns=col
)

In [4]:
df

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, resultado]
Index: []

In [5]:
# Regra do Jogo
"""
X = 0
O = 1

Result
W = 1, L = 0, D = 0.5

""";

In [6]:
import random

In [7]:
"""
# condição de vitória

123 = 0 ou 1
159 = ...
147
256
369
357
789
456

Se 9 turnos passarem e não tiver vitorioso, então é EMPATE
""";

In [8]:
def verificar_derrota(dados):
    if dados[1] == dados[2] == dados[3] == 1:
        return 0
    if dados[4] == dados[5] == dados[6] == 1:
        return 0
    if dados[1] == dados[4] == dados[7] == 1:
        return 0
    if dados[1] == dados[5] == dados[9] == 1:
        return 0
    if dados[2] == dados[5] == dados[6] == 1:
        return 0
    if dados[3] == dados[5] == dados[7] == 1:
        return 0
    if dados[3] == dados[6] == dados[9] == 1:
        return 0
    if dados[7] == dados[8] == dados[9] == 1:
        return 0
    return 'nada'

In [9]:
def verificar_vitoria(dados):
    if dados[1] == dados[2] == dados[3] == 0:
        return 1
    if dados[4] == dados[5] == dados[6] == 0:
        return 1
    if dados[1] == dados[4] == dados[7] == 0:
        return 1
    if dados[1] == dados[5] == dados[9] == 0:
        return 1
    if dados[2] == dados[5] == dados[6] == 0:
        return 1
    if dados[3] == dados[5] == dados[7] == 0:
        return 1
    if dados[3] == dados[6] == dados[9] == 0:
        return 1
    if dados[7] == dados[8] == dados[9] == 0:
        return 1
    return 'nada'

In [10]:
def sortear_pos(a,b):
    return random.randint(a,b)

In [11]:
def verificar_tudo(p):
    if p[1] != 0.5 and p[2] != 0.5 and p[3] != 0.5 and p[4] != 0.5 and p[5] != 0.5 and p[6] != 0.5 and p[7] != 0.5 and p[8] != 0.5 and p[9] != 0.5:
        return 'break'
    
    return None

In [12]:
def verificar_turno(t):
    if t == 9: # Verificar tempo (f)
        return 'break'
    return None

In [13]:
p = {
    1:0.5,
    2:0.5,
    3:0.5,
    4:0.5,
    5:0.5,
    6:0.5,
    7:0.5,
    8:0.5,
    9:0.5,
    'resultado':None
}


t = 0
while True:
    
    # Jogar Player    
    pl = int(input('player:')) # Criar função com Try e Excepet Value erro
    
    
    
    if p[pl] == 0.5:
        p[pl] = 1
    
    else:
        while True:
            pl = int(input('player, tente outro numero:'))
            if p[pl] == 0.5:
                p[pl] = 1  
                break
    
        
    #-----------------------------------
    # Verificar derrota
    if verificar_derrota(p) == 0:
        print('derrotado')
        p['resultado'] = 0
        break
    # Verificar derrota
    if verificar_vitoria(p) == 1:
        print('vencedor')
        p['resultado'] = 1
        break
    # Verificar Turno
    t +=1
    if verificar_turno(t) == 'break':
        print('turno')
        p['resultado'] = 0.5 # Empate
        break
    # Verificar Tudo
    if verificar_tudo(p) == 'break':
        print('tudo')
        p['resultado'] = 0.5 # Empate
        break 

    
    # Jogar PC    
    pc = int(input('pc: ')) # Criar função com Try e Excepet Value erro

    if p[pc] == 0.5:
        p[pc] = 0
        
    else:
        while True:
            pc = int(input('pc, tente outro numero:'))
            if p[pc] == 0.5:
                p[pc] = 0 
                break

    
    #-----------------------------------
    # Verificar derrota
    if verificar_derrota(p) == 0:
        print('derrotado')
        p['resultado'] = 0
        break
    # Verificar derrota
    if verificar_vitoria(p) == 1:
        print('vencedor')
        p['resultado'] = 1
        break
    # Verificar Turno
    t +=1
    if verificar_turno(t) == 'break':
        print('turno')
        p['resultado'] = 0.5 # Empate
        break 
    # Verificar Tudo
    if verificar_tudo(p) == 'break':
        print('tudo')
        p['resultado'] = 0.5 # Empate
        break

print(p)


df1 = pd.DataFrame( columns=list(p.keys()) )

for i in df1.columns:
    if i == 'resultado':
        df1[i] = [p[i]]
    else:    
        df1[i] = [p[int(i)]]

player:1
pc: 2
player:3
pc: 4
player:5
pc: 6
player:7
derrotado
{1: 1, 2: 0, 3: 1, 4: 0, 5: 1, 6: 0, 7: 1, 8: 0.5, 9: 0.5, 'resultado': 0}

## Adicionar os Resultados no DF

In [21]:
df1

   1  2  3  4  5  6  7    8    9  resultado
0  1  0  1  0  1  0  1  0.5  0.5          0

In [22]:
df

   1  2  3  4  5  6  7    8    9  resultado
0  1  0  1  0  1  0  1  0.5  0.5          0

In [23]:
df3 = pd.concat([df,df1],axis=0)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [24]:
df3

,1,2,3,4,5,6,7,8,9,resultado,1,2,3,4,5,6,7,8,9
0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.5,0.5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.5,0.5

In [18]:
for i in df.columns:
    if i == 'resultado':
        df[i] = [p[i]]
    else:    
        df[i] = [p[int(i)]]

In [19]:
for x in range(0,9):
    print(random.randint(0,9))

9
7
8
6
6
4
5
8
5