# Treinamento e Análise

In [2]:
import pandas as pd
import os
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [3]:
os.listdir('../01_Desenvolvimento_extracao/')
# ..= voltar 1 pasta
# . = daqui pra cá

['.ipynb_checkpoints',
 'Start_Game_v2.ipynb',
 'Start_Game_v0.ipynb',
 'Start_Game_v1.ipynb',
 'dados.pkl']

In [4]:
df = pd.read_pickle('../01_Desenvolvimento_extracao/dados.pkl')

In [5]:
df.tail()

       1    2    3  4    5  6    7  8  9 resultado
39995  5    1    6  8  7.0  2  4.0  3  9         0
39996  6    4  0.5  2  0.5  1  3.0  7  5         0
39997  5  0.5    4  6  8.0  7  2.0  1  3         1
39998  1    4    8  6  2.0  5  3.0  9  7         0
39999  5    9    7  3  2.0  4  6.0  8  1         0

In [6]:
# Remover dados duplicados + resertar indice + dropar coluna index
#df = df.drop_duplicates().reset_index().drop('index',axis=1)
df.tail()

       1    2    3  4    5  6    7  8  9 resultado
39995  5    1    6  8  7.0  2  4.0  3  9         0
39996  6    4  0.5  2  0.5  1  3.0  7  5         0
39997  5  0.5    4  6  8.0  7  2.0  1  3         1
39998  1    4    8  6  2.0  5  3.0  9  7         0
39999  5    9    7  3  2.0  4  6.0  8  1         0

# Separação dos dados

In [7]:
x = df.drop('resultado',axis=1)
y = df[['resultado']]

x.shape,y.shape

((40000, 9), (40000, 1))

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(
    x,
    y,
    test_size = 0.3,
)

In [10]:
# RESETAR OS índices, para igualar os valores corretos de X e Y
x_train.reset_index().drop('index',axis=1)
y_train.reset_index().drop('index',axis=1)

x_test.reset_index().drop('index',axis=1)
y_test.reset_index().drop('index',axis=1)


# não sei porquê, tive que fazer essa conversão para
# o modelo ser aceito... nunca aconteceu isso antes
x_train = np.asarray(x_train).astype(np.float32)
y_train = np.asarray(y_train).astype(np.float32)
x_test = np.asarray(x_test).astype(np.float32)
y_test = np.asarray(y_test).astype(np.float32)

In [11]:
import tensorflow as tf

In [12]:
x_train.shape

(28000, 9)

In [13]:
x_train.shape[1]

9

### Create your model

In [13]:
# PODER FAZER LOAD em vez de criar novamente...


model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Dense(
    units = 10,
    activation = 'linear',
    input_shape = (x_train.shape[1],)
))


model.add(tf.keras.layers.Dense(
    units = 20,
    activation = 'relu',
))

model.add(tf.keras.layers.Dropout(0.1))


"""
model.add(tf.keras.layers.Dropout(0.3))

model.add(tf.keras.layers.Dense(
    units = 20,
    activation = 'relu',
))



model.add(tf.keras.layers.Dense(
    units = 25,
    activation = 'relu',
))

model.add(tf.keras.layers.Dense(
    units = 20,
    activation = 'relu',
    
))

model.add(tf.keras.layers.Dense(
    units = 15,
    activation = 'relu',
    
))

model.add(tf.keras.layers.Dense(
    units = 10,
    activation = 'relu',
    
))
"""

model.add(tf.keras.layers.Dense(
    units = 1,
    activation = 'sigmoid',
))

model.summary()

model.compile(loss = 'binary_crossentropy', optimizer = 'Adam', metrics = ['accuracy'])

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                100
_________________________________________________________________
dense_1 (Dense)              (None, 20)                220
_________________________________________________________________
dropout (Dropout)            (None, 20)                0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 21
=================================================================
Total params: 341
Trainable params: 341
Non-trainable params: 0
_________________________________________________________________

### Save <span style="color:blue">MODEL</span>

In [14]:
#model.save('./save_model/model.h5')

### LOAD <span style="color:red">MODEL</span> (Pode fazer load em vez de criar)

In [15]:
model = tf.keras.models.load_model('./save_model/model.h5')

### LOAD <span style="color:red">WEIGHT</span>

In [17]:
model.load_weights('./save_weight/weight.h5')

### Calcular os pesos da rede (Se fizer o Load, não precisa)

In [17]:
history = model.fit(
    x_train,
    y_train,
    validation_split=0.1,
    epochs = 100,
    verbose = 0,# Não printar
)

history.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [18]:
plt.figure()
plt.plot(history.history['accuracy'],'.r', label = 'acc',alpha = 0.3)
plt.plot(history.history['val_accuracy'], '.b', label = 'acc_val',alpha = 0.3)
plt.legend()
plt.grid()

plt.figure()
plt.plot(history.history['loss'],'.r', label = 'loss',alpha = 0.3)
plt.plot(history.history['val_loss'],'.b', label = 'loss_val',alpha = 0.3)
plt.legend()
plt.grid()

NameError: name 'history' is not defined

# Predicts

In [295]:
pred = model.predict(x_test)

In [296]:
pred_df = pd.DataFrame()
pred_df['pred'] = pred[:,0]
pred_df['y'] = y_test

In [297]:
pred_df.head()

       pred    y
0  0.205303  0.0
1  0.228303  0.0
2  0.926385  1.0
3  0.952478  1.0
4  0.952874  1.0

In [298]:
def f(x):
    val = x[0]
    if val >= 0.75:
        return 1
    if 0.24 < val and val < 0.75:
        return 0.5
    if val <= 0.24:
        return 0

In [299]:
pred_df['pred'] = pred_df[['pred']].apply(f,axis=1)

In [300]:
pred_df.head()

   pred    y
0   0.0  0.0
1   0.0  0.0
2   1.0  1.0
3   1.0  1.0
4   1.0  1.0

In [310]:
# Ver diferença
pred_df[(pred_df['y'] != pred_df['pred']) &(pred_df['y'] == 0)]

       pred    y
97      0.5  0.0
271     0.5  0.0
934     0.5  0.0
956     0.5  0.0
1093    0.5  0.0
1203    0.5  0.0
1464    0.5  0.0
1513    0.5  0.0
1631    0.5  0.0
1829    0.5  0.0
1897    0.5  0.0
2120    0.5  0.0
2296    0.5  0.0
2357    0.5  0.0
2465    0.5  0.0
2510    0.5  0.0
2601    0.5  0.0
2851    0.5  0.0
3308    0.5  0.0
3338    0.5  0.0
3427    0.5  0.0
3450    0.5  0.0
3569    0.5  0.0
3609    0.5  0.0
3701    0.5  0.0
3974    0.5  0.0
4044    0.5  0.0
4372    0.5  0.0
4575    0.5  0.0
4583    0.5  0.0
...     ...  ...
7569    0.5  0.0
7685    0.5  0.0
8158    0.5  0.0
8190    0.5  0.0
8250    0.5  0.0
8529    0.5  0.0
8642    0.5  0.0
8665    0.5  0.0
8666    0.5  0.0
8896    0.5  0.0
9080    0.5  0.0
9101    0.5  0.0
9460    0.5  0.0
9535    0.5  0.0
9580    0.5  0.0
9584    0.5  0.0
9595    0.5  0.0
10096   0.5  0.0
10131   0.5  0.0
10740   0.5  0.0
10760   0.5  0.0
10835   0.5  0.0
10936   0.5  0.0
10974   0.5  0.0
11042   0.5  0.0
11111   0.5  0.0
11143   0.5  0.0
11338   0.5  0.0
11530   0.5  0.0
11555   0.5  0.0

[73 rows x 2 columns]

In [302]:
k = 0
total = len(pred_df['pred'])

for pred,y in zip(pred_df['pred'],y_test[:,0]):
    if pred == y:
        k = k+1
p = k/total
print(f"Porcentagem de Acerto {np.around(p*100,2)}%")

Porcentagem de Acerto 89.01%

# Save <span style="color:blue">WEIGHT</span>

In [303]:
#model.save_weights('./save_weight/weight.h5')