# Treinamento e Análise

In [1]:
import pandas as pd
import numpy as np

import pickle

In [2]:
df = pd.read_pickle('../01_Desenvolvimento_extracao/dados.pkl')

In [3]:
df.tail()

         1  2  3  4    5  6  7  8    9  resultado
39995    5  1  6  4  0.5  8  3  7    2        1.0
39996  0.5  2  1  3    4  5  7  8    6        1.0
39997    8  2  6  5    1  4  3  7  0.5        1.0
39998    6  5  8  4    2  7  1  9    3        0.0
39999    8  7  5  9    6  2  1  4    3        0.5

In [4]:
def f(x):
    x=x[0]
    if x == 0:
        return 'perdeu'
    if x == 1:
        return 'ganhou'
    
    return 'empate'

In [5]:
df['resultado']=df[['resultado']].apply(f,axis=1)

In [6]:
# Remover dados duplicados + resertar indice + dropar coluna index
#df = df.drop_duplicates().reset_index().drop('index',axis=1)
df.tail()

         1  2  3  4    5  6  7  8    9 resultado
39995    5  1  6  4  0.5  8  3  7    2    ganhou
39996  0.5  2  1  3    4  5  7  8    6    ganhou
39997    8  2  6  5    1  4  3  7  0.5    ganhou
39998    6  5  8  4    2  7  1  9    3    perdeu
39999    8  7  5  9    6  2  1  4    3    empate

# Separação dos dados

In [7]:
x = df.drop('resultado',axis=1)
y = df[['resultado']]

x.shape,y.shape

((40000, 9), (40000, 1))

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(
    x,
    y,
    test_size = 0.1,
)

In [10]:
# RESETAR OS índices, para igualar os valores corretos de X e Y
x_train.reset_index().drop('index',axis=1)
y_train.reset_index().drop('index',axis=1)

x_test.reset_index().drop('index',axis=1)
y_test.reset_index().drop('index',axis=1)

"""
# não sei porquê, tive que fazer essa conversão para
# o modelo ser aceito... nunca aconteceu isso antes
x_train = np.asarray(x_train).astype(np.float32)
y_train = np.asarray(y_train).astype(np.float32)
x_test = np.asarray(x_test).astype(np.float32)
y_test = np.asarray(y_test).astype(np.float32)
"""

'\n# não sei porquê, tive que fazer essa conversão para\n# o modelo ser aceito... nunca aconteceu isso antes\nx_train = np.asarray(x_train).astype(np.float32)\ny_train = np.asarray(y_train).astype(np.float32)\nx_test = np.asarray(x_test).astype(np.float32)\ny_test = np.asarray(y_test).astype(np.float32)\n'

In [11]:
from sklearn.tree import DecisionTreeClassifier

In [12]:
dtree = DecisionTreeClassifier(
    max_depth=32,
    #Quanto mais você força o valor em
    #max_depth, maior o SCORE no TRAIN
    #e menor no TESTE... Isso não nos serve
    #de nada ter um modelo 1 em TRAIN
    #e fraco na previsão do TESTE
    # ou seja, existe um valor BOM
)

In [13]:
dtree.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=32, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [14]:
dtree.score(x_train,y_train)

1.0

In [15]:
dtree.score(x_test,y_test)

0.916

In [16]:
# SALVAR MODELO
#pickle.dump(dtree,open('./save_model/random_forest_model.sav','wb'))

In [17]:
# Load
"""
load_model =pickle.load(open('./save_model/random_forest_model.sav','rb'))

print(load_model.score(x_train,y_train))
print(load_model.score(x_test,y_test))
"""

"\nload_model =pickle.load(open('./save_model/random_forest_model.sav','rb'))\n\nprint(load_model.score(x_train,y_train))\nprint(load_model.score(x_test,y_test))\n"