# Treinamento e Análise

In [1]:
import pandas as pd
import os
import seaborn as sns

In [2]:
os.listdir('../01_Desenvolvimento_extracao/')
# ..= voltar 1 pasta
# . = daqui pra cá

['.ipynb_checkpoints',
 'Teste_Start_Game.ipynb',
 'dados.pkl',
 'Start_Game.ipynb']

In [3]:
df = pd.read_pickle('../01_Desenvolvimento_extracao/dados.pkl')

In [4]:
df.tail()

         1    2  3    4  5  6    7    8  9 resultado
11496  0.5  0.5  0  0.0  0  1    1    1  1         0
11497    0  0.5  1  1.0  0  0    1    1  0         1
11498    0  0.5  1  1.0  1  1  0.5    0  0         0
11499    1    0  0  1.0  1  0    1    0  1         0
11500    1    0  1  0.0  0  1  0.5  0.5  1         0

In [5]:
# Remover dados duplicados + resertar indice + dropar coluna index
df = df.drop_duplicates().reset_index().drop('index',axis=1)
df.tail()

       1    2    3    4    5  6    7    8  9 resultado
944  0.5    1    0  1.0    1  1    0  0.5  0         0
945    0  0.5    1  0.0  0.5  1    1    0  1         0
946  0.5  0.5    0  1.0    0  0    1    1  1         0
947    1    0  0.5  1.0    1  0    0  0.5  1         0
948    0    1  0.5  1.0    1  1  0.5    0  0         0